body {
    /*   text-align: center; */
    background: url("https://source.unsplash.com/sfL_QOnmy00/5013×4634") center center fixed;
    /*background-size: cover;*/
    /*height: 100vh;*/
    /*   width: 100vh; */
    /*text-align: center;*/
    /*padding-top: 5%;*/
    /*background-size: cover;*/
}

body,
html {
    width: 100%;
    height: 100%;
    /*font-family: "Lato, san sarif";*/
    color: white;
}

.content{
    padding-top: 10%;
    text-align: center;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
                 0px 8px 13px rgba(0,0,0,0.1),
                 0px 18px 23px rgba(0,0,0,0.1);
}

input {
    color: black;
    height: 43px;
    width: 300px;
    font-size: 20px;
    border-radius: 23px;
    border: none;
    padding-left: 20px;
}


input:focus {
    /*background: #fff;*/
    /*border: 3px solid #2980b9;*/
    outline: none;
    /*font-size: 15px;*/
}


#search-form {
    margin-bottom: 30px;
}

#search-result ul li {
    font-size: 20px;
}

h1 {
    margin-bottom: 5%;
}

a {
    color: white;
    text-decoration: none;
}

ul li {
    list-style: none;
    font-size: large;
}

/*a:focus {*/
    /*color: white;*/
/*}*/

/*.navbar-brand img {*/
    /*margin-top: -15px;*/
/*}*/

